{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Journeo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/progress-steps.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img
            src="{% static 'images/journeoLogo.png' %}"
            alt="Logo"
            class="navbar-logo"
          />
        </a>
        <div class="navbar-buttons">
          {% if user.is_authenticated %}
              <a href="{% url 'carnets:create_program' %}" class="btn btn-link">creer programme</a>
              <a href="{% url 'list_programs' %}" class="btn btn-link">lister programmes</a>
              <a href="{% url 'carnets:mes_programmes' %}" class="btn btn-link">Mes programmes</a>
              <a href="{% url 'logout' %}" class="btn btn-link">Déconnexion</a>
          {% else %}
              <a href="{% url 'login' %}" class="btn btn-link">Se connecter</a>
              <a href="{% url 'register' %}" class="btn btn-primary">S'inscrire</a>
          {% endif %}
      </div>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <footer class="bg-dark text-light py-4 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h5>Journeo</h5>
            <p>
              Votre compagnon idéal pour des vacances parfaitement organisées et
              mémorables.
            </p>
          </div>
          <div class="col-md-3">
            <h5>Liens rapides</h5>
            <ul class="list-unstyled">
              <li><a href="{% url 'home' %}" class="text-light">Accueil</a></li>
              <li><a href="#" class="text-light">Fonctionnalités</a></li>
              <li><a href="#" class="text-light">Témoignages</a></li>
              <li><a href="#" class="text-light">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h5>Légal</h5>
            <ul class="list-unstyled">
              <li>
                <a href="#" class="text-light">Conditions d'utilisation</a>
              </li>
              <li>
                <a href="#" class="text-light">Politique de confidentialité</a>
              </li>
              <li><a href="#" class="text-light">Mentions légales</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h5>Suivez-nous</h5>
            <div class="social-links">
              <a href="#" class="text-light me-2"
                ><i class="fab fa-facebook"></i
              ></a>
              <a href="#" class="text-light me-2"
                ><i class="fab fa-twitter"></i
              ></a>
              <a href="#" class="text-light me-2"
                ><i class="fab fa-instagram"></i
              ></a>
              <a href="#" class="text-light"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="text-center mt-4">
          <p>&copy; 2025 Journeo. Tous droits réservés.</p>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>